* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 30px;
}
.detail-img img {
    width: 100%;
}
@media screen and (max-width: 1020px) {
    .details {
        grid-template-columns: 1fr;
    }
}